body {
    overflow:hidden;
}

.container {
    width:600px;
    height:600px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    
}



.numeric {
    background:rgb(143,143,143);
    padding-top:10px;
   
}
.numeric div {
    background:rgba(255,105,0,0.6);
     width:140px;
    height:140px;
    box-shadow:0 15px 20px rgba(0,0,0,.22);
    border-radius:3px;
    float:left;
   
    margin-bottom:10px;
    margin-left:5px;
    margin-right:5px;
    
}

.numeric span {
    position:relative;
    top:40%;
    left:45%;
    color:#eaeaea;
    font-size:25px;
    
}
span.double {
    left:40%;
}
div.blank {
   background:#eaeaea; 
}

div[class^='draggable'] {
    background:rgb(255, 204, 102);
    z-index:100;
}
/* #FF6600 */