/*
:root .theme-dark, :root.theme-dark {
    max-width: 480px;
}

.page-content--786 {
    padding-top: 2px;
    max-width: 768px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
*/






.list-stiris{
	margin-top:40px;
	margin-bottom:20px;
}
.list-stiris .list-user-avatar {
	width:60px;
	height:60px;
	margin:0 auto;
    display: flex;
    align-items: center;
	background: rgba(222,222,222, .3);
	padding:3px;
}
.list-stiris img{
	border-radius:100px;
}


.ios .card .item-subtitle.bottom-subtitle {
    display: flex;
    align-items: center;
    text-transform: none;
    font-weight: 500;
    font-size: 15px;
}
.ios .card .item-subtitle.bottom-subtitle img {
    width: 22px;
    border-radius: 11px;
    margin-right: 6px;
}

/**/
.ios-translucent-modals .toast{
	background: rgba(33,33,33, .7);
}

user-avatar-menu



.views>.toolbar {
    position: fixed;
	bottom:-1px;
	width:100%;
}


.input-code-post{
	padding:10px;
	
	text-align:center;
}
.input-code-post input{
	width:96px;
	border:0px;
	border-radius:6px;
	margin:0 auto;
	padding:10px;
	font-size:20px;
	color:#ccc;
	text-align:center;
}
#f-email,
#f-login{
	color:#ccc;
	text-align:center;
}

/*
.fa {
	width: 2em;
	height: 2em;
	font-size: 1.4em;
	background-size: cover;
}
*/

.close-button {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, .05);
    border-radius: 100px;
    left: 0px;
    top: 4px;
}



.theme-dark .fa{
	color:#555;
}
.theme-dark form.list .item-title {
	color:#939393;
}
.theme-dark ul {
	color:#ccc;
}


.theme-dark .display-timer{
	color:fff;
	font-weight:600px;
	font-size:14px;
}


.eva-avatar div{
	margin:2px;
	width:44px;
	height:44px;
	background: rgba(255,255,255, .2);
	border-radius:100px;
  background: url(https://api.godialog.ru/content/storage/users/m/hZb/av_1579784419.jpg.s.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#areaSelectClick .areas{
	margin:0 auto;
	text-align:center;
	height: 60px;
	
}

/**/
.smart-select .item-after{
	color: orange;
	font-weight:400px;
	max-width: 100%;
	font-size: 1.2em;
}

.display-none{
	display:none
}
.display-show{
	display:block;
}





img.user-avatar-menu{
	position:relative;
	display:inline-block;
	border:2px solid rgba(77,77,77, .5);
	border-radius:100px;
	padding:2px;
	z-index:2;
	width:40px;
	height:40px;
}




.swiper-item * {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0px;/**/
    padding: 0;
    border: 0;
    list-style: none;
}

















/* ScrollMENU*/
.scrollmenu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font: 24px/32px Bureausans, Arial, sans-serif;
}
.scrollmenu a{
	color:#777;
	text-decoration:none;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
.scrollmenu a:hover{color:#999;}
.scrollmenu-item {
  margin-right: 15px;

}
.scrollmenu-item:last-child {
  margin-right: 0;
}
.menuLimiter {

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.menuLimiter {
  padding-bottom: 20px;
  margin-bottom: -20px;
}
.menuWrapper {
  overflow: hidden;
}
/*
.menuLimiter {
  mask-image: linear-gradient(
      90deg,
      transparent 0, rgba(0, 0, 0, .25) 9px,
      #000 18px,
      #000 calc(100% - 18px),
      rgba(0, 0, 0, .25) calc(100% - 9px),
      transparent
    );
}
.menuLimiter.is__shaded {
    -webkit-mask-image: linear-gradient(90deg,transparent 0,rgba(0,0,0,.25) 9px,#000 18px,#000 calc(100% - 18px),rgba(0,0,0,.25) calc(100% - 9px),transparent);
    mask-image: linear-gradient(90deg,transparent 0,rgba(0,0,0,.25) 9px,#000 18px,#000 calc(100% - 18px),rgba(0,0,0,.25) calc(100% - 9px),transparent);
}
*/

.dragscroll {
    cursor: grab;
}
.menuLimiter {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 400px) {
  .scrollmenu-item { margin-right: 25px; }
}

@media only screen and (max-width: 426px) {
  .scrollmenu-item { margin-right: 13px; }
}

@media only screen and (max-width: 450px) {
  .scrollmenu-item { margin-right: 20px; }
}

@media only screen and (max-width: 470px) {
  .scrollmenu-item { margin-right: 25px; }
}

@media only screen and (max-width: 510px) {
  .scrollmenu-item { margin-right: 15px; }
}


#swiperBlocksMenu{
	padding:1px;
}


/* SWIPER blocks*/

.swiper-item{
	margin-bottom:10px;
	padding:6px 0px;
	z-index:500;
}

.swiper-head-title{
	font-size:16px;
	color:#999;
	padding:2px 6px;
	position:relative;
	line-height:32px;
}
.swiper-head-title span:nth-child(2n){
	position:absolute;
	text-align:right;
	padding:8px 8px;
	border-radius:100px;
	border:0px solid #aaa;
	right:2px;
}
/*
.swiper-blocks{
	height:166px;
}
*/
.swiper-go-item{
	margin-left:8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-go-item .usernsme{
	color:#fff;
	text-align:center;
	font-size:.5em;
	z-index:9;
	position:relative;
	top:-12px;
}
.swiper-go-item .swiper-menu{
	padding:1px 8px;
	border:1px solid #444;
	border-radius:4px;
}


.swiper-go-block{
	border:1px solid #383838;
	border-radius:4px;
	margin:0 auto;
	overflow:hidden;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-color:#999;
}

.hidden--border-background{
	border:1px solid rgba(0,0,0,.001);
	background-color:rgba(0,0,0,.001);
}
.swiper-go-user-avatar{
	position:relative;
	display:inline-block;
	/*border:2px solid rgba(255,255,255,.2);*/
	border-radius:100px;
	padding:3px;
	z-index:2;

}
.swiper-go-image-avatar{
	position:relative;
	display:inline-block;
	/*border:2px solid rgba(255,255,255,.2);*/
	border-radius:8px;
	padding:2px;
	z-index:2;

	
}


.swiper-go-block-bottom{
	position:sticky;
	position:-webkit-sticky;
	font-size:.5em;
	color:#fff;
	text-align:center;
	bottom:0px;
	left:2px;
	width:100%;
	padding:2px;
	z-index:1;
	display:inline-block;
	height:10px;
	background:#aaa;
}



.swiper-avatar-user{
	width:40px;
	
	/*top:2px;*/
	left:4px;
}
.swiper-avatar-user-avatar{
	width:66px;
	height:66px;
	background: rgba(255,255,255, .1);
	top:0px;
	left:0px;
}
.swiper-avatar-images{
	width:30px;
	top:4px;
	left:4px;
}
.swiper-users-stores{
	position:relative;
	width:100%;
	margin-top:0px;
	height:68px;
	padding-top:5px;
}
.swiper-images-all{
	position:relative;
	width:100%;
	margin-top:0px;
	height:120px;
	padding-top:5px;
}



.swiper-go-user-name{
	position:sticky;
	position:-webkit-sticky;
	font-size:.5em;
	color:#fff;
	text-align:center;
	/*top:144px;*/
	left:2px;
	padding:2px;
	z-index:1;
	display:inline-block;
}

.top-action i{
	position:relative;
	width:100%;
	padding:10px;
	font-size:0.6em;
	text-align:right;
	color: #fff;
	top: 0px;
	z-index:2;
}
.user-info{
	position:relative;
	width:100%;
	font-size:.8em;
	text-align:center;
	color: #fff;
	top: 90px;
	z-index:3;

}
.user-info img{
	margin:0 auto;
	padding:3px;
	background:rgba(255,255,255, .6);
	border-radius:50px;
}









.logo-pwa-rady{
	width:100%;
	position:absolute;
	bottom: 20px;
	
}
.logo-pwa-rady a img{
	margin:0 auto;
}
.upload-click{
/**/
	border-radius: 100px;
	border:2px solid rgba(255,255,255, .05);
	display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
	background: rgba(33,150,243, .05);
	color: rgba(255,255,255, .5);

	font-size:20px;
	padding:8px;
	margin:0px;
}
#uploadAVATARimg{
	position: absolute;
	bottom: 48px;
	left:111px;
	z-index:9;
}
#uploadBGimg{
	position: absolute;
	bottom: 48px;
	right:2px;
	z-index:9;
}


#blockOpenDecktop{
	width:100px;
	height:100px;
	background: #ccc;
	z-index:3;
	
}



