<div class="page no-toolbar component-root no-active-state">
    <div class="page-content">
        <div class="back-nav-header listhead">
            <div class="first-blok">
                <a href="#" class="link back">
					<i class="f7-icons">arrow_left</i> Back   
				</a>
            </div>
            <div class="mid-block">Lists</div>
            <div class="last-block">
                <span id="swither">
					<label class="toggle toggle-init">
						<input checked type="checkbox">
							<span class="toggle-icon"></span>
                </label>
                </span>
            </div>
        </div>





        <!-- list style1 -->

        <div class="block" id="thumbview5">
            <div class="block-heading">
                <h2>List Style 1</h2>
            </div>
            <div class="post-wraper">
                <a href="/videodetail/" class="flx-anc ">
                    <div class="post-thumb video-thumb">
                        <img class="lazy-fade-in img-responsive lazy-loaded" src="img/2.jpg" alt="">
                        <i class="f7-icons video-thumb-icon">play_fill</i>
                    </div>
                    <div class="post-text-outer">
                        <div class="post-text">
                            <p>24 Things recommended to See and Do in Budapest this Season.</p>
                        </div>
                        <div class="post-user-info">
                            <span class="author-profile">
										<img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg">
										</span>
                            <span class="author-name">Camille Aline</span>
                            <span class="post-time">1m ago</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="post-wrap-border"></div>
            <div class="post-wraper">
                <a href="/postdetail/" class="flx-anc">
                    <div class="post-thumb">
                        <img class="lazy-fade-in img-responsive lazy-loaded" src="img/3.jpg" alt="">
                    </div>
                    <div class="post-text-outer">
                        <div class="post-text">
                            <p>24 Things recommended to See and Do in Budapest this Season.</p>
                        </div>
                        <div class="post-user-info">
                            <span class="author-profile">
												<img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg">
												</span>
                            <span class="author-name">Camille Aline</span>
                            <span class="post-time">1m ago</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="post-wrap-border"></div>
            <div class="post-wraper">
                <a href="/postdetail/" class="flx-anc">
                    <div class="post-thumb">
                        <img class="lazy-fade-in img-responsive lazy-loaded" src="img/4.jpg" alt="">
                    </div>
                    <div class="post-text-outer">
                        <div class="post-text">
                            <p>24 Things recommended to See and Do in Budapest this Season.</p>
                        </div>
                        <div class="post-user-info">
                            <span class="author-profile">
														<img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg">
														</span>
                            <span class="author-name">Camille Aline</span>
                            <span class="post-time">1m ago</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="post-wrap-border"></div>
            <div class="post-wraper">
                <a href="/videodetail/" class="flx-anc ">
                    <div class="post-thumb video-thumb">
                        <img class="lazy-fade-in img-responsive lazy-loaded" src="img/2.jpg" alt="">
                        <i class="f7-icons video-thumb-icon">play_fill</i>
                    </div>
                    <div class="post-text-outer">
                        <div class="post-text">
                            <p>24 Things recommended to See and Do in Budapest this Season.</p>
                        </div>
                        <div class="post-user-info">
                            <span class="author-profile">
																<img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg">
																</span>
                            <span class="author-name">Camille Aline</span>
                            <span class="post-time">1m ago</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="post-wrap-border"></div>
            <div class="post-wraper">
                <a href="/postdetail/" class="flx-anc">
                    <div class="post-thumb">
                        <img class="lazy-fade-in img-responsive lazy-loaded" src="img/6.jpg" alt="">
                    </div>
                    <div class="post-text-outer">
                        <div class="post-text">
                            <p>25 Things recommended to See and Do in Budapest this Season.</p>
                        </div>
                        <div class="post-user-info">
                            <span class="author-profile">
																		<img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg">
																		</span>
                            <span class="author-name">Camille Aline</span>
                            <span class="post-time">1m ago</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>



        <!-- list style1 -->




        <!-- list style2 -->
        <div class="block">
            <div class="block-heading">
                <h2>List Style 2</h2>
            </div>
            <div id="thumbview3" class="margin0-top ">
                <div class="flex2">
                    <div class="post-wraper flx-direction">
                        <a href="/videodetail/">
                            <div class="post-thumb video-thumb">
                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/2.jpg" alt="">
                                <i class="f7-icons video-thumb-icon">play_fill</i>
                            </div>
                            <div class="post-text-outer">
                                <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                    <span class="author-name">Jennifer Reid
						   
						     <span class="post-time">1m ago</span>
                                    </span>
                                </div>
                                <div class="post-text">
                                    <p>24 Things to See and Do in Italy this Season.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post-wraper flx-direction">
                        <a href="/postdetail/">
                            <div class="post-thumb">
                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/3.jpg" alt="">
                            </div>
                            <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                <span class="author-name">Jennifer Reid
						    <span class="post-time">1m ago</span>
                                </span>
                            </div>


                            <div class="post-text-outer">
                                <div class="post-text">
                                    <p>24 Things to See and Do in Italy this Season.</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="flex2">
                    <div class="post-wraper flx-direction">
                        <a href="/videodetail/">
                            <div class="post-thumb video-thumb">
                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/4.jpg" alt="">
                                <i class="f7-icons video-thumb-icon">play_fill</i>
                            </div>
                            <div class="post-text-outer">
                                <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                    <span class="author-name">Jennifer Reid
						   
						     <span class="post-time">1m ago</span>
                                    </span>
                                </div>
                                <div class="post-text">
                                    <p>24 Things to See and Do in Italy this Season.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post-wraper flx-direction">
                        <a href="/videodetail/">
                            <div class="post-thumb">
                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/5.jpg" alt="">
                            </div>
                            <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                <span class="author-name">Jennifer Reid
						    <span class="post-time">1m ago</span>
                                </span>
                            </div>
                            <div class="post-text-outer">
                                <div class="post-text">
                                    <p>24 Things to See and Do in Italy this Season.</p>
                                </div>

                            </div>
                        </a>
                    </div><a href="/videodetail/">
								</a>
                </div>
                <div class="flex2">
                    <div class="post-wraper flx-direction">
                        <a href="/postdetail/">
                            <div class="post-thumb">
                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/6.jpg" alt="">
                            </div>
                            <div class="post-text-outer">

                                <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/gallery-6.jpg"></span>
                                    <span class="author-name">Jennifer Reid
						    <span class="post-time">1m ago</span>
                                    </span>
                                </div>
                                <div class="post-text">
                                    <p>24 Things to See and Do in Italy this Season.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post-wraper flx-direction">
                        <a href="/postdetail/">
                            <div class="post-thumb">
                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/7.jpg" alt="">
                            </div>
                            <div class="post-text-outer">

                                <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/gallery-6.jpg"></span>
                                    <span class="author-name">Jennifer Reid
						    <span class="post-time">1m ago</span>
                                    </span>
                                </div>
                                <div class="post-text">
                                    <p>24 Things to See and Do in Italy this Season.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>


            </div>
        </div>

        <!-- list style2-->



        <!-- list style3-->


        <div id="thumbview6" class="block heading-flx margin0-bottom">
            <div class="block-heading">
                <h2>List Style 3</h2>
            </div>
            <div class="catagories-Name-title">

            </div>
            <a data-tab-id="#listview" href="#listview" class="show-custom-tab tab-link button tab-link-active active"><i class="f7-icons">text_justify</i></a>
            <a data-tab-id="#thumbview" href="#thumbview" class="show-custom-tab tab-link button "><i class="f7-icons">rectangle_grid_2x2_fill</i></a>
        </div>


        <div class="block margin0-top margin0-bottom">
            <div class="tabs-animated-wrap">
                <div class="tabs">
                    <div id="listview" class="tab active tab-active list-viewr">
                        <div class="content-block">
                            <div class="margin0-top">
                                <div class="wrap2">
                                    <div class="post-wraper flx-direction">
                                        <a href="/videodetail/" class="flx-anc ">
                                            <div class="post-thumb video-thumb">
                                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/2.jpg" alt="">
                                                <i class="f7-icons video-thumb-icon">play_fill</i>
                                            </div>
                                            <div class="post-text-outer">
                                                <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                                    <span class="author-name">Jennifer Reid
						   
						     <span class="post-time">1m ago</span>
                                                    </span>
                                                </div>
                                                <div class="post-text">
                                                    <p>24 Things to See and Do in Italy this Season.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="post-wrap-border"></div>
                                    <div class="post-wraper flx-direction">
                                        <a href="/postdetail/">
                                            <div class="post-thumb">
                                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/3.jpg" alt="">
                                            </div>
                                            <div class="post-text-outer">
                                                <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                                    <span class="author-name">Jennifer Reid
						    <span class="post-time">1m ago</span>
                                                    </span>
                                                </div>
                                                <div class="post-text">
                                                    <p>24 Things to See and Do in Italy this Season.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="post-wrap-border"></div>
                                </div>
                                <div class="">
                                    <div class="post-wraper flx-direction">
                                        <a href="/videodetail/" class="flx-anc ">
                                            <div class="post-thumb video-thumb">
                                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/4.jpg" alt="">
                                                <i class="f7-icons video-thumb-icon">play_fill</i>
                                            </div>
                                            <div class="post-text-outer">
                                                <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                                    <span class="author-name">Jennifer Reid
						   
						     <span class="post-time">1m ago</span>
                                                    </span>
                                                </div>
                                                <div class="post-text">
                                                    <p>24 Things to See and Do in Italy this Season.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>



















                                    <div class="post-wrap-border"></div>
                                    <div class="post-wraper flx-direction">
                                        <a href="/postdetail/">
                                            <div class="post-thumb">
                                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/5.jpg" alt="">
                                            </div>
                                            <div class="post-text-outer">
                                                <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                                    <span class="author-name">Jennifer Reid
						    <span class="post-time">1m ago</span>
                                                    </span>
                                                </div>
                                                <div class="post-text">
                                                    <p>24 Things to See and Do in Italy this Season.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="post-wrap-border"></div>
                                </div>
                                <div class="">
                                    <div class="post-wraper flx-direction">
                                        <a href="/postdetail/">
                                            <div class="post-thumb">
                                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/6.jpg" alt="">
                                            </div>
                                            <div class="post-text-outer">
                                                <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                                    <span class="author-name">Jennifer Reid
						   
						     <span class="post-time">1m ago</span>
                                                    </span>
                                                </div>
                                                <div class="post-text">
                                                    <p>24 Things to See and Do in Italy this Season.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="post-wraper flx-direction">
                                        <a href="/postdetail/">
                                            <div class="post-thumb">
                                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/7.jpg" alt="">
                                            </div>
                                            <div class="post-text-outer">
                                                <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/gallery-6.jpg"></span>
                                                    <span class="author-name">Jennifer Reid
						    <span class="post-time">1m ago</span>
                                                    </span>
                                                </div>
                                                <div class="post-text">
                                                    <p>24 Things to See and Do in Italy this Season.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div id="thumbview" class="tab tab-grid">
                        <div class="margin0-top">
                            <div class="flex2">
                                <div class="post-wraper flx-direction">
                                    <a href="/videodetail/">
                                        <div class="post-thumb video-thumb">
                                            <img class="lazy-fade-in img-responsive lazy-loaded" src="img/2.jpg" alt="">
                                            <i class="f7-icons video-thumb-icon">play_fill</i>
                                        </div>
                                        <div class="post-text-outer">
                                            <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                                <span class="author-name">Jennifer Reid
						   
						     <span class="post-time">1m ago</span>
                                                </span>
                                            </div>
                                            <div class="post-text">
                                                <p>24 Things to See and Do in Italy this Season.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="post-wraper flx-direction">
                                    <a href="/postdetail/">
                                        <div class="post-thumb">
                                            <img class="lazy-fade-in img-responsive lazy-loaded" src="img/3.jpg" alt="">
                                        </div>
                                        <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                            <span class="author-name">Jennifer Reid
						    <span class="post-time">1m ago</span>
                                            </span>
                                        </div>


                                        <div class="post-text-outer">
                                            <div class="post-text">
                                                <p>24 Things to See and Do in Italy this Season.</p>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="flex2">
                                <div class="post-wraper flx-direction">
                                    <a href="/videodetail/">
                                        <div class="post-thumb video-thumb">
                                            <img class="lazy-fade-in img-responsive lazy-loaded" src="img/4.jpg" alt="">
                                            <i class="f7-icons video-thumb-icon">play_fill</i>
                                        </div>
                                        <div class="post-text-outer">
                                            <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                                <span class="author-name">Jennifer Reid
						   
						     <span class="post-time">1m ago</span>
                                                </span>
                                            </div>
                                            <div class="post-text">
                                                <p>24 Things to See and Do in Italy this Season.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="post-wraper flx-direction">
                                    <a href="/videodetail/">
                                        <div class="post-thumb">
                                            <img class="lazy-fade-in img-responsive lazy-loaded" src="img/5.jpg" alt="">
                                        </div>
                                        <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></span>
                                            <span class="author-name">Jennifer Reid
						    <span class="post-time">1m ago</span>
                                            </span>
                                        </div>
                                        <div class="post-text-outer">
                                            <div class="post-text">
                                                <p>24 Things to See and Do in Italy this Season.</p>
                                            </div>

                                        </div>
                                    </a>
                                </div><a href="/videodetail/">
								</a>
                            </div>
                            <div class="flex2">
                                <div class="post-wraper flx-direction">
                                    <a href="/postdetail/">
                                        <div class="post-thumb">
                                            <img class="lazy-fade-in img-responsive lazy-loaded" src="img/6.jpg" alt="">
                                        </div>
                                        <div class="post-text-outer">

                                            <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/gallery-6.jpg"></span>
                                                <span class="author-name">Jennifer Reid
						    <span class="post-time">1m ago</span>
                                                </span>
                                            </div>
                                            <div class="post-text">
                                                <p>24 Things to See and Do in Italy this Season.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="post-wraper flx-direction">
                                    <a href="/postdetail/">
                                        <div class="post-thumb">
                                            <img class="lazy-fade-in img-responsive lazy-loaded" src="img/7.jpg" alt="">
                                        </div>
                                        <div class="post-text-outer">

                                            <div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/gallery-6.jpg"></span>
                                                <span class="author-name">Jennifer Reid
						    <span class="post-time">1m ago</span>
                                                </span>
                                            </div>
                                            <div class="post-text">
                                                <p>24 Things to See and Do in Italy this Season.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>


                        </div>


                    </div>


                </div>
            </div>
        </div>
        <!-- list style2-->


    </div>
</div>