<div class="page no-toolbar component-root no-active-state">
    <div class="page-content">
        <div class="back-nav-header listhead">
            <div class="first-blok"><a href="#" class="link back"><i class="f7-icons">arrow_left</i> Back   </a>
            </div>
            <div class="mid-block">Cards</div>
            <div class="last-block"> <span id="swither">
						<label class="toggle toggle-init"><input checked type="checkbox"><span class="toggle-icon"></span>
                </label>
                </span>
            </div>
        </div>



        <!-- 	cards -->

        <div class="block">


            <div class="block-heading ot">
                <h2>Cards Style 1</h2>
            </div>


            <div class="out-wrap shadow widht-fixer0">
                <a href="/postdetail/">
                    <div class="News-catagories-wraper">
                        <div class="News-Health-overly"> </div>
                        <img class="News-catagories-wraper-img" src="img/latest-news-thumb.jpg" alt="">
                        <div class="News-catagories-heading">
                            <h3 class="h3">Health</h3>
                            <span class="News-catagories-heading-text reversecolor">Newest Launches </span>
                        </div>
                    </div>
                    <div class="News-story-info">
                        <div class="News-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg"></div>
                        <div class="News-title">
                            <span class="News-head">Uzoma4 Buchi</span>
                            <span class="News-date">Jun 6 </span> <span class="News-time">4 Min Read</span>
                        </div>
                    </div>
                </a>
            </div>




        </div>

        <div class="block">

            <div class="block-heading ot">
                <h2>Cards Style 2</h2>
            </div>

            <div class="out-wrap today newcard2 scaleffect widht-fixer">
                <a href="/postdetail/">
                    <div class="News-catagories-wraper">
                        <div class="News-Health-overly"> </div>
                        <img class="News-catagories-wraper-img" src="img/4.jpg" alt="">
                        <div class="News-catagories-heading">

                            <div class="toady-sub-headers">
                                <div class="date-top-bar">Tuesday 2 June</div>
                                <div class="tag-icon">
                                    <i class="f7-icons tag-c">bookmark_fill</i>
                                </div>
                            </div>

                            <span class="News-catagories-heading-text reversecolor ">We going to rock today with our news app!!</span>

                            <div class="News-story-info">
                                <div class="News-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg"></div>
                                <div class="News-title">
                                    <span class="News-head">Uzoma4 Buchi</span>
                                    <span class="News-date">Jun 6 </span> <span class="News-time">4 Min Read</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>




        </div>


        <!-- cards -->





    </div>
</div>