<template>
    <div class="page page-categoryloayout no-toolbar" data-name="signup"  >
        <div class="popup otp-verification">
            <div class="page no-navbar no-toolbar no-swipeback ">
             <div class="page-content numpad-page-content">
                <div class="block">
          <div class="row justify-content-center">
          <p>Please enter the OTP we have sent on your mobile number.</p>
             </div>
            </div>
    <div class="block">
    <div class="row justify-content-center">
    <span class="otp-digit"></span>
    <span class="otp-digit"></span>
    <span class="otp-digit"></span>
    <span class="otp-digit"></span>
    <span class="otp-digit"></span>
    <span class="otp-digit"></span>
    </div>
    </div>
    <form name="otp-verification" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="otp" />
    
    </form>
    
    <div class="numpad"></div>
    
    </div>
    
    </div>
    </div>
        <div class="page-content">
            <div class="back-nav-header">
                <div class="first-blok">
    
                </div>
                <div class="mid-block">
    
                </div>
                <div class="last-block skip">
                    <a href="/user-page" class="link back">
                        Skip <i class="f7-icons">arrow_right</i>
                    </a>
                </div>
            </div>
            <div class="block select-interests log-b">
                <h2 class="heading-c1">Регистрация</h2>
          <form  name="loginGo" class="list no-hairlines no-hairlines-between Regform-style1 layer1" id="loginGo" action="#" method="POST" enctype="multipart/form-data">
             
                 
                <ul>
                    
                         <li>
                             <a href="#" class="item-link smart-select " data-searchbar="true">
                                 <select name="form-area"  >
                                    {{#each areas}}
                                    
                                      <option value="{{area_id}}"
                                     
                                      >{{name}}</option>
                                      

                                    {{/each}}
                                    
                                 </select>
                                 <div class="item-content">
                                     <div class="item-inner">
                                         <div class="item-title">
                                             Площадка
                                         </div>
                                         <div class="item-after">
                                            {{first_area}}
                                         </div>
                                     </div>
                                 </div>
                             </a>
                         </li>
                         <li>
                            <div class="item-content item-input item-input-with-info">
                                
                                <div class="item-inner">
                                    <div class="item-title item-floating-label">You name Fan</div>
                                    <div class="item-input-wrap">
                                        <input type="text" 
                                               name="form-fname" 
                                               placeholder="You Name Fan" 
                                               pattern=".{6,}"  required
                                               id="name"
                                               
                                               >
                                               <span class="input-clear-button"></span>
                                               
                                               <div class="input-error-message" for="name">
                                            
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="item-content item-input item-input-with-info">
                                
                                <div class="item-inner">
                                    
                                    <div class="item-title item-floating-label">Email</div>
                                    <div class="item-input-wrap">
                                       
                                        <input type="email" 
                                               name="form-email"  
                                               id="email"
                                               required
                                               
                                               placeholder="Mario@gmail.com" 
                                               >
                                        <span class="input-clear-button"></span>
                                        <div class="input-error-message" for="email">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="item-content item-input item-input-with-info">
                
                                <div class="item-inner">
                                    <div class="item-title item-floating-label">Пароль</div>
                                    <div class="item-input-wrap">
                                        <input type="password" 
                                               name="form-pass"  
                                               id="password"
                                               placeholder="*********" 
                                               pattern=".{10,126}" 
                                               required
                                               
                                               >
                                        <span class="input-clear-button"></span>
                                        <div class="input-error-message" for="password">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label class="checkbox color-green item-content">
                              <input type="checkbox" id="accept" name="form-accept-terms-policies"  required   />
                              <i class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Agree <a href="#" > to the terms</a> and <a href="#">privacy policy</a></div>
                                <div class="input-error-message accept">
                                            
                                </div>
                            </div>
                            </label>
                           
                          </li>
                 </ul>
                 
                
                
                <a   href="#">
                    <button @click="onClickSignUp" type="submit" name="btn" class="dark-button scaleffect login-btn">
                    Sign Up
                   </button>
                </a>
          </form>
          <span class="or display-block1">OR</span>
          <div class="share-post-block">
              <a href="/explore/"><button   class="fb-button scaleffect">Facebook</button> </a>
              <a href="/explore/">	<button   class="twit-button scaleffect">Twitter</button></a>
          </div>
          <span class="display-block1">Already have an account?</span>
                <span class="display-block1">
								<a href="/" class="create now">Log In</a>
								</span>
        </div>
    </div>
     
    </div>
    <style>
 /*
  * **************  NUMPAD *********************
 */
    .numpad {
        margin: 0 auto;
        margin-top: auto;
        max-width: 640px;
        width: 100%;
    }

    .otp-digit {
        align-items: center;
        background-color: #F5F5F5;
        color: #222222;
        border-radius: 50%;
        display: inline-flex;
        font-size: 24px;
        font-weight: bold;
        height: 32px;
        justify-content: center;
        margin: 0 4px;
        padding: 8px;
        vertical-align: top;
        width: 32px;
    }

    .otp-digit.filled {
        color: #FFFFFF;
    }
    .otp-digit.filled {
        background-color: var(--ios-color-blue);
    }
    .otp-digit.filled {
        background-color: var(--ios-color-red);
    }
    .otp-digit.filled {
        background-color: var(--ios-color-green);
    }
    .otp-digit.filled {
        background-color: var(--ios-color-blue);
    }
    .otp-digit.filled {
        background-color: var(--ios-color-pink);
    }
    .otp-digit.filled {
        background-color: var(--ios-color-yellow);
    }
    .otp-digit.filled {
        background-color: var(--ios-color-orange);
    }
    .otp-digit.filled {
        background-color: var(--ios-color-gray);
    }
    .otp-digit.filled {
        background-color: var(--ios-color-black);
    }
    .otp-digit.filled {
        background-color: var(--md-color-blue);
    }
    .otp-digit.filled {
        background-color: var(--md-color-red);
    }
    .otp-digit.filled {
        background-color: var(--md-color-green);
    }
    .otp-digit.filled {
        background-color: var(--md-color-blue);
    }
    .otp-digit.filled {
        background-color: var(--md-color-pink);
    }
    .otp-digit.filled {
        background-color: var(--md-color-yellow);
    }
    .otp-digit.filled {
        background-color: var(--md-color-orange);
    }
    .otp-digit.filled {
        background-color: var(--md-color-gray);
    }
    .otp-digit.filled {
        background-color: var(--md-color-black);
    }


    

    .keypad-button,.keypad-button.keypad-dummy-button {
        background-color: transparent;
    }

    .keypad-button:before {
        display: none;
    }

    .keypad-button:after {
        display: none;
    }

    .keypad-button-letters {
        display: none;
    }
   
    .keypad-button:not(.keypad-dummy-button).active-state {
        background-color: #292929;
    }
    .numpad-page-content {
        display:flex;
        flex-direction:column;
    }
    
    /* *****   END NUMPAD */

    </style>
</template>
<script>
    var $$ = Dom7;
    return {
        data: function() {
            return {
               validator: null,
               wasFirstSignUp: false,
               itemAfter: '',
               areas : [],
               link: ''
            }
        },
        on: {
            pageInit:  function() {
                var self = this;
               
                
                Go.obj.signUp.onInit(self, app);
            }
                          },
            methods: {
            onValidateFieldSignUp: function() {
                var self = this;
                //Go.obj.signUp.onValidate(self);
            },
            onClickSignUp:  function(e) {
                var self = this;
              
                
               Go.obj.signUp.onClick(app,self);
                
    
                        
        }
           
                    }
        
                }
    
    
                
                
            
        
    
</script>
