<template>

<div data-name="signin " class="page page-categoryloayout no-toolbar">
    <div class="page-content">
        <div class="back-nav-header">
            <div class="first-blok">

            </div>
            <div class="mid-block">

            </div>
            <div class="last-block skip">
                <a href="/user-page" class="link back">
                    Skip <i class="f7-icons">arrow_right</i>
                </a>
            </div>
        </div>
         <div class="block select-interests log-b">
            <h2 class="heading-c1">Вход</h2>
        
        
          <form name="signInGo" class="list no-hairlines no-hairlines-between Regform-style1 layer1" id="signInGo" action="#" method="POST" enctype="multipart/form-data">
            
               <ul>
                    <li>
                        <div class="item-content item-input item-input-with-info">
                        
                            <div class="item-inner">
                                <div class="item-title item-floating-label">userNickName или email</div>
                                <div class="item-input-wrap">
                                    <input type="text" 
                                           name="form-login" 
                                           placeholder="Gypsy Hardinge"  
                                           required
                                           @input="onValidateFieldSignIn"
                                           >
                                    <div class="item-input-info input-error-message">
                                        Поле должно быть заполнено
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content item-input item-input-with-info">
                    
                            <div class="item-inner">
                                <div class="item-title item-floating-label">Пароль</div>
                                <div class="item-input-wrap">
                                    <input type="password" 
                                           name="form-pass" 
                                           placeholder="********"  
                                           data-toggle="show-hide-password"
                                           @input="onValidateFieldSignIn"
                                           required
                                           >
                                    
                                    <div class="item-input-info input-error-message">
                                        Пароль должен состоять из > 9 символов
                                    </div>
                                </div>
                                
                            </div>
                            <div class="item-media">
                                <a class="" href="#"
                                  @click="showHidePassword">
                                  {{#if isPasswordVisible}}
                                  <i class="icon f7-icons ios-only">eye_off</i>
                                  <i class="icon material-icons md-only">visibility_off</i>
                                  {{else}}
                                  <i class="icon f7-icons ios-only">eye</i>
                                  <i class="icon material-icons md-only">visibility</i>
                                  {{/if}}
                                </a>
                            </div>
                        </div>
                    </li>
                    </ul>
                        <div class="block mo-margin-top text-align-right">
                            <a href="forgot-password">
                                Забыли пароль?
                            </a>
                        </div>
                       
                
                <a @click="onClickSignIn" class="create now" href="#">
                    <button class="dark-button scaleffect login-btn">
                    Войти
                </button>
                </a>
               
            </form>
            <span class="or display-block1">ИЛИ</span>
            <div class="share-post-block">
                <a href="/explore/"><button   class="fb-button scaleffect">Facebook</button> </a>
                <a href="/explore/">	<button   class="twit-button scaleffect">Twitter</button></a>
            </div>
            <span class="display-block1">Нет аккаунта в GO? </span>
            <span class="display-block1">
                            <a href="signUp" class="create now">Создай сейчас!</a>
                            </span>
        </div>
    </div>
</div>

</template>
<!---->
<script>
    var $$ = Dom7;
     return {
      data:function() {
        return {
           isPasswordVisible: false,
           wasFirstSignIn: false
        }
      },
      on: {
        pageInit: function() {
            Go.obj.signIn.onInit();

        }
       },
      methods: {
       showHidePassword: function(event) {
                var self = this;
                Go.obj.signIn.showHidePassword(self);
            },
        onValidateFieldSignIn: function() {
           Go.obj.signIn.onValidate(self);
            },
       onClickSignIn: function() {
           var self = this;
            Go.obj.signIn.onClick(self, app);
       }
    }
    }
</script>