<div class="page no-toolbar component-root no-active-state">
    <div class="page-content">
        <div class="back-nav-header listhead">
            <div class="first-blok"><a href="#" class="link back"><i class="f7-icons">arrow_left</i> Back   </a>
            </div>
            <div class="mid-block">Sliders</div>
            <div class="last-block"> <span id="swither">
						<label class="toggle toggle-init"><input checked type="checkbox"><span class="toggle-icon"></span>
                </label>
                </span>
            </div>
        </div>




        <!-- Timeline slider	 -->
        <div class="block-heading">
            <h2>Trending</h2>
        </div>
        <div class="block slider-spacing-fx block-leftspace">
            <!-- Slider container -->
            <div data-pagination="{&quot;el&quot;: &quot;.swiper-pagination&quot;}" data-space-between="8" data-slides-per-view="4" class="swiper-container swiper-init trendingSwiper swiper-container-initialized swiper-container-horizontal swiper-container-ios">




                <!-- Slides wrapper -->
                <div class="swiper-wrapper textcenter" style="transform: translate3d(0px, 0px, 0px);">
                    <!-- Slides -->

                    <div class="swiper-slide scaleffect swiper-slide-next" style="width: 85.5px; margin-right: 8px;">
                        <a href="/timeline/">
                            <div class="catagories-items">
                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/techno.jpg" alt="World">
                                <h6>Technology</h6>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide scaleffect swiper-slide-next" style="width: 85.5px; margin-right: 8px;">
                        <a href="/timeline/">
                            <div class="catagories-items">
                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/world.jpg" alt="World">
                                <h6>World</h6>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide scaleffect" style="width: 85.5px; margin-right: 8px;">
                        <a href="/timeline/">
                            <div class="catagories-items">
                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/politics.jpg" alt="Politics">
                                <h6>Politics</h6>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide scaleffect" style="width: 85.5px; margin-right: 8px;">
                        <a href="/timeline/">
                            <div class="catagories-items">
                                <img class="lazy-fade-in img-responsive lazy-loaded" src="img/sports.jpg" alt="Health">
                                <h6>Sports</h6>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide scaleffect" style="width: 85.5px; margin-right: 8px;">
                        <a href="/timeline/">
                            <div class="catagories-items">
                                <img class="lazy lazy-fade-in img-responsive" src="img/techno.jpg" alt="Technology">
                                <h6>Technology</h6>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide scaleffect" style="width: 85.5px; margin-right: 8px;">
                        <a href="/timeline/">
                            <div class="catagories-items">
                                <img class="lazy lazy-fade-in img-responsive" src="img/world.jpg" alt="World">
                                <h6>World</h6>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide scaleffect" style="width: 85.5px; margin-right: 8px;">
                        <a href="/timeline/">
                            <div class="catagories-items">
                                <img class="lazy lazy-fade-in img-responsive" src="img/politics.jpg" alt="Politics">
                                <h6>Politics</h6>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide scaleffect" style="width: 85.5px; margin-right: 8px;">
                        <a href="/timeline/">
                            <div class="catagories-items">
                                <img class="lazy lazy-fade-in img-responsive" src="img/health.jpg" alt="Health">
                                <h6>Health</h6>
                            </div>
                        </a>
                    </div>
                </div>

                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>



        <!-- Timeline -->




        <!-- catagories timeline slider -->
        <div class="block-heading">
            <h2>Timeline</h2>
        </div>
        <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="0" data-slides-per-view="auto" data-centered-slides="true" class="swiper-container swiper-timeline swiper-init demo-swiper demo-swiper-auto time-slider">
            <div class="swiper-pagination"></div>
            <div class="close-bar-time color-light"><a href="#" class="link back"><i class="f7-icons">xmark_circle</i></a></div>
            <div class="swiper-wrapper">

                <div class="swiper-slide">

                    <div class="News-catagories-wraper">
                        <div class="News-Health-overly"> </div>
                        <a href="/postdetail/">
					<img class="News-catagories-wraper-img" src="img/time-line1.jpg" alt="">
					<div class="News-catagories-heading">
						
						<div class="toady-sub-headers">
						
						</div>
						
				<div class="News-catagories-heading2">
						<h3 class="h3">Health</h3>

					</div>	
				<span class="News-catagories-heading-text reversecolor">
					
				We going to rock today with our news app!!</span>
						
			<div class="News-story-info">
					<div class="News-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg"></div>
					<div class="News-title">
						<span class="News-head">Uzoma4 Buchi</span>
						<span class="News-date">Jun 6 </span> <span class="News-time">4 Min Read</span>
					</div>
				</div>	


			
					</div>
					</a>
                    </div>


                </div>

                <div class="swiper-slide">




                    <div class="News-catagories-wraper">
                        <div class="News-Health-overly"> </div>
                        <a href="/postdetail/">
					<img class="News-catagories-wraper-img" src="img/sports.jpg" alt="">
					<div class="News-catagories-heading">
						
						<div class="toady-sub-headers">
						
						</div>
						
							<div class="News-catagories-heading2">
						<h3 class="h3">Sports</h3>

					</div>	
				<span class="News-catagories-heading-text reversecolor">We going to rock today with our news app!!</span>
						
		
	<div class="News-story-info">
					<div class="News-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg"></div>
					<div class="News-title">
						<span class="News-head">Uzoma4 Buchi</span>
						<span class="News-date">Jun 6 </span> <span class="News-time">4 Min Read</span>
					</div>
				</div>		
				
				
				
				
				
					</div>
				</div>

	
	</div>
	
	
   <div class="swiper-slide">
	

	
	
	<div class="News-catagories-wraper">
					<div class="News-Health-overly"> </div>
					<a href="/postdetail/">
					<img class="News-catagories-wraper-img" src="img/politics.jpg" alt="">
					<div class="News-catagories-heading">
						
						<div class="toady-sub-headers">
	
						</div>
				<div class="News-catagories-heading2">
						<h3 class="h3">Politics</h3>

					</div>	
				<span class="News-catagories-heading-text reversecolor">We going to rock today with our news app!!</span>


	<div class="News-story-info">
					<div class="News-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg"></div>
					<div class="News-title">
						<span class="News-head">Uzoma4 Buchi</span>
						<span class="News-date">Jun 6 </span> <span class="News-time">4 Min Read</span>
					</div>
				</div>

					</div>
					</a>
                    </div>

                </div>

                <div class="swiper-slide">

                    <div class="News-catagories-wraper">

                        <div class="News-Health-overly"> </div>
                        <a href="/postdetail/">
					<img class="News-catagories-wraper-img" src="img/world.jpg" alt="">
					<div class="News-catagories-heading">
						
						<div class="toady-sub-headers">
						
						</div>
						
				<div class="News-catagories-heading2">
						<h3 class="h3">World</h3>

					</div>	
				<span class="News-catagories-heading-text reversecolor">We going to rock today with our news app!!</span>
			
	<div class="News-story-info">
					<div class="News-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg"></div>
					<div class="News-title">
						<span class="News-head">Uzoma4 Buchi</span>
						<span class="News-date">Jun 6 </span> <span class="News-time">4 Min Read</span>
					</div>
				</div>			
	
					</div>
					</a>
                    </div>

                </div>


            </div>
        </div>




        <!-- catagories timeline slider -->
        <div class="block block-leftspace">
            <div class="block-heading">
                <h2>Latest News</h2>
            </div>
            <div data-pagination="{&quot;el&quot;: &quot;.swiper-pagination&quot;}" data-space-between="20" data-slides-per-view="auto" class="swiper-container swiper-init demo-swiper demo-swiper-auto Latest-News-slider swiper-container-initialized swiper-container-horizontal swiper-container-ios">

                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="swiper-slide swiper-slide-widthauto scaleffect swiper-slide-active" style="margin-right: 20px;">
                        <div class="out-wrap">
                            <a href="/postdetail/">
                                <div class="News-catagories-wraper">
                                    <div class="News-Health-overly"> </div>
                                    <img class="News-catagories-wraper-img" src="img/latest-news-thumb.jpg" alt="">
                                    <div class="News-catagories-heading">
                                        <h3 class="h3">Health</h3>
                                        <span class="News-catagories-heading-text reversecolor">Newest Launches </span>
                                    </div>
                                </div>
                                <div class="News-story-info">
                                    <div class="News-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg"></div>
                                    <div class="News-title">
                                        <span class="News-head">Uzoma4 Buchi</span>
                                        <span class="News-date">Jun 6 </span> <span class="News-time">4 Min Read</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-widthauto scaleffect swiper-slide-next" style="margin-right: 20px;">
                        <div class="out-wrap">
                            <a href="/postdetail/">
                                <div class="News-catagories-wraper">
                                    <div class="News-Health-overly"> </div>
                                    <img class="News-catagories-wraper-img" src="img/slide2.jpg" alt="">
                                    <div class="News-catagories-heading">
                                        <h3 class="h3">Life</h3>
                                        <span class="News-catagories-heading-text reversecolor">Newest Launches </span>
                                    </div>
                                </div>
                                <div class="News-story-info">
                                    <div class="News-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg"></div>
                                    <div class="News-title">
                                        <span class="News-head">zoma Buchi</span>
                                        <span class="News-date">Jun 22 </span> <span class="News-time">3 Min Read</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-widthauto scaleffect" style="margin-right: 20px;">
                        <div class="out-wrap">
                            <a href="/postdetail/">
                                <div class="News-catagories-wraper ">
                                    <div class="News-Health-overly"> </div>
                                    <img class="News-catagories-wraper-img" src="img/road.jpg" alt="">
                                    <div class="News-catagories-heading">
                                        <h3 class="h3">World</h3>
                                        <span class="News-catagories-heading-text reversecolor">Newest Launches </span>
                                    </div>
                                </div>
                                <div class="News-story-info">
                                    <div class="News-profile"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg"></div>
                                    <div class="News-title">
                                        <span class="News-head">Uzoma Buchi</span>
                                        <span class="News-date">Jun 2 </span> <span class="News-time">3 Min Read</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

        </div>



        <!-- <catagories slider -->

















        <!-- Top Author’s
 -->



        <div class=" channels-section block block-leftspace padding-bottom0 author-slider">
            <div class="block-heading padding-top0">
                <h2>Top Author’s</h2>
            </div>
            <div class="channel-wraper catagories-author-align">

                <div data-pagination="{&quot;el&quot;: &quot;.swiper-pagination&quot;}" data-speed="700" data-space-between="8" data-slides-per-view="2" class="swiper-container swiper-init demo-swiper swiper-container-initialized swiper-container-horizontal swiper-container-ios">

                    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                        <div class="swiper-slide swiper-slide-active" style="width: 179px; margin-right: 8px;">

                            <div class="channel-row author-bg">
                                <div class="channel-thumb">

                                    <img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg" alt="">
                                </div>

                                <div class="channel-content author-addtions">
                                    <h4>Author Name</h4>
                                    <p>Company &amp; Post</p>
                                    <div class="followed-by-wrap news-flx"><span class="follow-icon1 "><img class="lazy-fade-in img-responsive lazy-loaded" src="img/nws-gallery3.jpg"> </span><span class="follow-icon1 ua-img"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/author-img.png"> </span>                                        <span class="follow-name">Followed 1231 </span></div>



                                </div>

                                <div class="Follow-button-wrpper follow-btn-width">
                                    <a href="#">	<button class="follow-b scaleffect no-active-state">Follow</button></a>
                                </div>

                            </div>


                        </div>
                        <div class="swiper-slide swiper-slide-next" style="width: 179px; margin-right: 8px;">
                            <div class="channel-row author-bg">
                                <div class="channel-thumb">

                                    <img class="lazy-fade-in img-responsive lazy-loaded" src="img/nws-gallery1.jpg" alt="">
                                </div>

                                <div class="channel-content author-addtions">
                                    <h4>Author Name</h4>
                                    <p>Company &amp; Post</p>

                                    <div class="followed-by-wrap news-flx"><span class="follow-icon1 "><img class="lazy-fade-in img-responsive lazy-loaded" src="img/author-img.png"> </span><span class="follow-icon1 ua-img"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/author-img.png"> </span>                                        <span class="follow-name">Followed 1231 </span></div>


                                </div>

                                <div class="Follow-button-wrpper follow-btn-width">
                                    <a href="#"><button class="follow-b no-active-state">Follow</button></a>
                                </div>

                            </div>
                        </div>


                        <div class="swiper-slide" style="width: 179px; margin-right: 8px;">

                            <div class="channel-row author-bg">
                                <div class="channel-thumb">

                                    <img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg" alt="">
                                </div>

                                <div class="channel-content author-addtions">
                                    <h4>Author Name</h4>
                                    <p>Company &amp; Post</p>
                                    <div class="followed-by-wrap news-flx"><span class="follow-icon1 "><img class="lazy-fade-in img-responsive lazy-loaded" src="img/author-img.png"> </span><span class="follow-icon1 ua-img"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/author-img.png"> </span>                                        <span class="follow-name">Followed 1231 </span></div>



                                </div>

                                <div class="Follow-button-wrpper follow-btn-width">
                                    <a href="#"><button class="follow-b scaleffect scaleffect no-active-state">Follow</button></a>


                                </div>

                            </div>


                        </div>


                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    <span
                        class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>


            </div>

        </div>





        <!-- Top Author’s -->

        <!-- top channels -->



        <div class="block channels-section home-channels-block">
            <div class="block-heading padding-top0">
                <h2>Top Channel’s</h2>
            </div>
            <div class="channel-wraper">
                <div data-pagination="{&quot;el&quot;: &quot;.swiper-pagination&quot;}" data-space-between="10" data-slides-per-view="2" class="swiper-container swiper-init trendingSwiper demo-swiper demo-swiper-auto swiper-container-initialized swiper-container-horizontal swiper-container-ios">


                    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="swiper-slide swiper-slide-widthauto swiper-slide-active" style="width: 158.5px; margin-right: 10px;">
                            <a href="#" class="flx-anc no-active-state">
	</a>
                            <div class="channel-row"><a href="#" class="flx-anc no-active-state">
</a>
                                <div class="channel-thumb"><a href="#" class="flx-anc no-active-state">
</a><a href="/channel/">
<span class="overly-channel"></span>
<img class="lazy-fade-in img-responsive lazy-loaded" src="img/channel-cnn.jpg" alt="">

</a>
                                </div>

                                <div class="channel-content">
                                    <h4>CNN</h4>
                                    <p>Dally News Globally <span class="channel-co">23.7K Users</span></p>


                                </div>

                                <div class="Follow-button-wrpper">
                                    <button class="follow-b scaleffect no-active-state center-flow">Follow</button>
                                </div>

                            </div>


                        </div>
                        <div class="swiper-slide swiper-slide-widthauto swiper-slide-next" style="width: 158.5px; margin-right: 10px;">
                            <a href="#" class="flx-anc no-active-state">
	</a>
                            <div class="channel-row"><a href="#" class="flx-anc no-active-state">
</a>
                                <div class="channel-thumb"><a href="#" class="flx-anc no-active-state">
</a><a href="/channel/">
<span class="overly-channel"></span>
<img class="lazy-fade-in img-responsive lazy-loaded" src="img/10.jpg" alt="">
</a>
                                </div>

                                <div class="channel-content">
                                    <h4>Discovery</h4>
                                    <p>Automobile News <span class="channel-co">32.2K Users</span></p>


                                </div>

                                <div class="Follow-button-wrpper">
                                    <button class="follow-b scaleffect no-active-state center-flow">Follow</button>
                                </div>

                            </div>


                        </div>


                        <div class="swiper-slide swiper-slide-widthauto" style="width: 158.5px; margin-right: 10px;">
                            <div class="channel-row">
                                <a href="#" class="flx-anc no-active-state">	
</a>
                                <div class="channel-thumb"><a href="#" class="flx-anc no-active-state">
</a><a href="/channel/">
<span class="overly-channel"></span>
<img class="lazy-fade-in img-responsive lazy-loaded" src="img/channel-cnn.jpg" alt="">
</a>
                                </div>

                                <div class="channel-content">
                                    <h4>CNN</h4>
                                    <p>Dally News Globally <span class="channel-co">23.7K Users</span></p>

                                </div>

                                <div class="Follow-button-wrpper">
                                    <button class="follow-b scaleffect no-active-state center-flow">Follow</button>
                                </div>

                            </div>

                        </div>

                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>


            </div>


        </div>

        <!-- top channels -->













    </div>
</div>