<div class="page no-toolbar component-root no-active-state">
    <div class="page-content">
        <div class="back-nav-header listhead">
            <div class="first-blok">
                <a href="#" class="link back">
					<i class="f7-icons">arrow_left</i> Back   
				</a>
            </div>
            <div class="mid-block">Tabs</div>
            <div class="last-block">
                <span id="swither">
					<label class="toggle toggle-init">
						<input checked type="checkbox">
							<span class="toggle-icon"></span>
                </label>
                </span>
            </div>
        </div>



        <!-- tabs -->
        <div class="block Followings follwoing-tabs">

            <div class="Followings-tabs-section">
                <a href="#" class="tab-link tab-link-active" data-tab=".tab1"><span>Channels</span></a>
                <a href="#" class="tab-link" data-tab=".tab2"><span>Authors</span></a>
            </div>
            <div class="tabs tabs-bottom">
                <div class="tab tab1 tab-active">


                    <div class="nw-row">
                        <div class="channel-row">
                            <div class="channel-thumb">
                                <a href="/channel/">
                        <span class="overly-channel"></span>
                        <img class="lazy-fade-in img-responsive lazy-loaded" src="img/10.jpg" alt="">
						</a>
                            </div>
                            <div class="channel-content">
                                <h4>CNN</h4>
                                <p>Dally News Globally <span class="channel-co">23.7K Users</span></p>
                            </div>
                            <div class="Follow-button-wrpper">
                                <a href="#"><button class="follow-b scaleffect">Follow</button></a>
                            </div>
                        </div>
                        <div class="channel-row">
                            <a href="/channel/">
                     </a>
                            <div class="channel-thumb"><a href="/channel/">
                        <span class="overly-channel"></span>
                        <img class="lazy-fade-in img-responsive lazy-loaded" src="img/7.jpg" alt="">
						</a>
                            </div>
                            <div class="channel-content">
                                <h4>Discovery</h4>
                                <p>Automobile News <span class="channel-co">32.2K Users</span></p>
                            </div>
                            <div class="Follow-button-wrpper">
                                <a href="#"><button class="follow-b scaleffect">Follow</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="nw-row">
                        <div class="channel-row"><a href="/channel/">
                     </a>
                            <div class="channel-thumb"><a href="/channel/">
                        <span class="overly-channel"></span>
                        <img class="lazy-fade-in img-responsive lazy-loaded" src="img/2.jpg" alt="">
						</a>
                            </div>
                            <div class="channel-content">
                                <h4>CNN</h4>
                                <p>Dally News Globally <span class="channel-co">23.7K Users</span></p>
                            </div>
                            <div class="Follow-button-wrpper">
                                <a href="#"><button class="follow-b scaleffect">Follow</button></a>
                            </div>
                        </div>
                        <div class="channel-row">
                            <div class="channel-thumb"> <a href="/channel/">
                        <span class="overly-channel"></span>
					
                        <img class="lazy-fade-in img-responsive lazy-loaded" src="img/3.jpg" alt="">
						</a>
                            </div>
                            <div class="channel-content">
                                <h4>Discovery</h4>
                                <p>Automobile News <span class="channel-co">32.2K Users</span></p>
                            </div>
                            <div class="Follow-button-wrpper">
                                <a href="#"><button class="follow-b scaleffect">Follow</button></a>
                            </div>
                        </div>


                    </div>





                </div>
                <div class="tab tab2">
                    <div class="nw-row">

                        <div class="channel-row author-bg">
                            <div class="channel-thumb">
                                <a href="/authorlist/">
<img class="lazy-fade-in img-responsive lazy-loaded" src="img/nws-gallery1.jpg" alt="">
</a>
                            </div>

                            <div class="channel-content author-addtions">
                                <h4>Author Name</h4>
                                <p>Company &amp; Post</p>
                                <div class="followed-by-wrap news-flx"><span class="follow-icon1 "><img class="lazy-fade-in img-responsive lazy-loaded" src="img/nws-gallery3.jpg"> </span><span class="follow-icon1 ua-img"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/author-img.png"> </span>                                    <span class="follow-name">Followed 1231 </span></div>



                            </div>

                            <div class="Follow-button-wrpper">
                                <a href="#">	<button class="follow-b scaleffect no-active-state">Follow</button></a>
                            </div>

                        </div>


                        <div class="channel-row author-bg">
                            <div class="channel-thumb">
                                <a href="/authorlist/">
<img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg" alt="">
</a>
                            </div>

                            <div class="channel-content author-addtions">
                                <h4>Author Name</h4>
                                <p>Company &amp; Post</p>
                                <div class="followed-by-wrap news-flx"><span class="follow-icon1 "><img class="lazy-fade-in img-responsive lazy-loaded" src="img/nws-gallery1.jpg"> </span><span class="follow-icon1 ua-img"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/author-img.png"> </span>                                    <span class="follow-name">Followed 1231 </span></div>



                            </div>

                            <div class="Follow-button-wrpper">
                                <a href="#">	<button class="follow-b scaleffect no-active-state">Follow</button></a>
                            </div>

                        </div>




                    </div>

                    <div class="nw-row">

                        <div class="channel-row author-bg">
                            <div class="channel-thumb">
                                <a href="/authorlist/">
<img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg" alt="">
</a>
                            </div>

                            <div class="channel-content author-addtions">
                                <h4>Author Name</h4>
                                <p>Company &amp; Post</p>
                                <div class="followed-by-wrap news-flx"><span class="follow-icon1 "><img class="lazy-fade-in img-responsive lazy-loaded" src="img/nws-gallery1.jpg"> </span><span class="follow-icon1 ua-img"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/author-img.png"> </span>                                    <span class="follow-name">Followed 1231 </span></div>



                            </div>

                            <div class="Follow-button-wrpper">
                                <a href="#">	<button class="follow-b scaleffect no-active-state">Follow</button></a>
                            </div>

                        </div>


                        <div class="channel-row author-bg">
                            <div class="channel-thumb">
                                <a href="/authorlist/">
<img class="lazy-fade-in img-responsive lazy-loaded" src="img/nws-gallery1.jpg" alt="">
</a>
                            </div>

                            <div class="channel-content author-addtions">
                                <h4>Author Name</h4>
                                <p>Company &amp; Post</p>
                                <div class="followed-by-wrap news-flx"><span class="follow-icon1 "><img class="lazy-fade-in img-responsive lazy-loaded" src="img/nws-gallery1.jpg"> </span><span class="follow-icon1 ua-img"><img class="lazy-fade-in img-responsive lazy-loaded" src="img/author-img.png"> </span>                                    <span class="follow-name">Followed 1231 </span></div>

                            </div>

                            <div class="Follow-button-wrpper">
                                <a href="#">	<button class="follow-b scaleffect no-active-state">Follow</button></a>
                            </div>

                        </div>




                    </div>



                </div>
                <div>
                </div>
            </div>



        </div>

        <!-- tabs -->



    </div>
</div>